body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #8a090e;
    color: #f16832;
}


#instructions {
    margin-top: -12px;
    font-size: 18px;
}


/* board elements */

#gameboard {
    width: 342px;
    height: 342px;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
}

.pointer:hover {
    cursor: pointer;
}

.game-square {
    width: 110px;
    height: 110px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    font-family: Arial, sans-serif;
}



/* button elements */

#start-over {
    margin-top: 15px;
    padding: 3px 4px 3px 4px;
    color: #fab37b;
    background-color: black;
    font-size: 18px;
}

/* win text */

#winner {
    font-size:165px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    overflow: visible;
    color: #fab37b;
    text-shadow: -3px -3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000, 3px 3px 0 #000;

}
